<div class="w-full">
  <div class="flex" style="justify-content: center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full", id: "regis-email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full", id: "regis-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full", id: "regis-password-confirm" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "w-full mt-2 rounded-lg py-2 px-3 bg-blue-600 text-white block" %>
      </div>
    <% end %>
  </div>

</div>